#conversejs .chat-head.chat-head-chatbox {
  background-color: #337ab7; }

#conversejs .chatbox .box-flyout {
  box-shadow: none;
  border: 1px solid #2e6da4; }

#conversejs .chatbox .chat-title {
  height: 100%;
  text-align: center;
  padding: 10px 0 0 0; }

#conversejs .chatbox .chat-body .chat-info {
  font-size: 14px; }
  #conversejs .chatbox .chat-body .chat-info.chat-date {
    width: 100%;
    text-align: center; }

#conversejs .chatbox .chat-body .chat-message {
  border-bottom: 1px dotted #B3A9A9;
  margin: .3em;
  padding: 0.5em; }
  #conversejs .chatbox .chat-body .chat-message .chat-msg-author {
    display: block;
    margin: .5em 0; }
  #conversejs .chatbox .chat-body .chat-message .chat-msg-them {
    color: #f0ad4e;
    text-align: left;
    width: 100%; }
  #conversejs .chatbox .chat-body .chat-message span.chat-msg-them {
    color: #f0ad4e; }
  #conversejs .chatbox .chat-body .chat-message .chat-msg-me {
    color: #0275d8;
    text-align: right;
    width: 100%; }
    #conversejs .chatbox .chat-body .chat-message .chat-msg-me + .chat-msg-content {
      text-align: right; }
  #conversejs .chatbox .chat-body .chat-message span.chat-msg-me {
    color: #0275d8; }
  #conversejs .chatbox .chat-body .chat-message .chat-msg-content {
    display: block;
    clear: left;
    margin: .5em 0;
    color: message-text-color;
    line-height: 1.5em; }

#conversejs .chatbox .chat-content {
  height: calc(100% - 75px); }

#conversejs .chatbox form.sendXMPPMessage {
  height: 75px;
  background-color: #EEEEEE; }
  #conversejs .chatbox form.sendXMPPMessage .chat-toolbar {
    background-color: #5bc0de;
    height: 25px;
    padding: 0px; }
    #conversejs .chatbox form.sendXMPPMessage .chat-toolbar .unencrypted, #conversejs .chatbox form.sendXMPPMessage .chat-toolbar a {
      color: #ffffff; }
    #conversejs .chatbox form.sendXMPPMessage .chat-toolbar .toggle-smiley {
      color: #ffffff; }
  #conversejs .chatbox form.sendXMPPMessage .chat-textarea {
    border: solid;
    border-width: 8px;
    border-color: #EEEEEE;
    border-radius: 12px;
    height: 50px;
    outline: none; }

#conversejs #controlbox .controlbox-head {
  background-color: #337ab7; }
