#conversejs {
    .chat-head {
        &.chat-head-chatbox {
            background-color: $chat-head-color;
        }
    }
    .chatbox {
        .box-flyout {
            box-shadow: none;
            border: 1px solid $chat-border-color;
        }
        .chat-title {
            height: 100%;
            text-align: center;
            padding: 10px 0 0 0;
        }
        .chat-body {
            .chat-info {
                font-size: 14px;
                &.chat-date {
                    width: 100%;
                    text-align: center;
                }
            }
            .chat-message {
                border-bottom: 1px dotted #B3A9A9;
                margin: .3em;
                padding: 0.5em;
                .chat-msg-author {
                    display: block;
                    margin: .5em 0;
                }
                .chat-msg-them {
                    color: $message-them-color;
                    text-align: left;
                    width: 100%;
                }
                span {
                    &.chat-msg-them {
                        color: $message-them-color;
                    }
                }
                .chat-msg-me {
                    color: $message-me-color;
                    text-align: right;
                    width: 100%;
                    + .chat-msg-content {
                        text-align: right;
                    }
                }
                span {
                    &.chat-msg-me {
                        color: $message-me-color;
                    }
                }
                .chat-msg-content {
                    display: block; 
                    clear: left;
                    margin: .5em 0;
                    color: message-text-color;
                    line-height: 1.5em;
                }
            }
        }
        .chat-content {
            height: calc(100% - #{$toolbar-height + $chat-textarea-height});
        }
        form.sendXMPPMessage {
            height: #{$chat-textarea-height + $toolbar-height};
            background-color: $form-color;
            .chat-toolbar {
                background-color: $toolbar-color;
                height: $toolbar-height;
                padding: 0px;
                .unencrypted, a {
                    color: $toolbar-text-color;
                }
                .toggle-smiley {
                    color: $toolbar-text-color;
                }
            }
            .chat-textarea {
                border: solid;
                border-width: 8px;
                border-color: $form-color;
                border-radius: 12px;
                height: $chat-textarea-height;
                outline: none;
            }
        }
    }
}