$light-blue: #5bc0de;
$blue: #337ab7;
$bright-blue: #0275d8;
$dark-blue: #2e6da4;
$orange: #f0ad4e;
$white: #ffffff;
$light-gray: #EEEEEE;

$font-size: 14px;

$controlbox-head-color: $blue !default;
$controlbox-border-color: $dark-blue !default;

$chat-head-color: $blue !default;
$chat-border-color: $dark-blue !default;

$message-them-color: $orange !default;
$message-me-color: $bright-blue !default;
$message-text-color: #555555 !default;

$form-color: $light-gray !default;

$toolbar-color: $light-blue !default;
$toolbar-text-color: $white !default;
$toolbar-height: 25px;

$chat-textarea-height: 50px;